[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "mto79.github.io"]
	path = mto79.github.io
	url = https://github.com/mto79/mto79.github.io.git
